.bannerimage {
    margin-bottom: -5px;
    width: 100%;
    object-fit: cover;
    object-position: 70% 90%;
}

.bannercontainer {
    margin-bottom: 0px;
    position: relative;
    text-align: center;
    color: #265646;
}

.bannertext {
    font-size: 5em;
    font-weight: 700;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bannersubtext {
    font-size: 1.5em;
    position: absolute;
    font-weight: 700;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.aboutUsplaceholder {
    font-size: 0.9em;
    position: absolute;
    font-weight: 700;
    line-height: 1.2em;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1100px) {
    .bannersubtext {
        font-size: 1.2em;
        position: absolute;
        font-weight: 700;
        top: 28%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 800px) {
    .bannertext {
        font-size: 3em;
    }
    .bannersubtext {
        line-height: 1.0em;
        position: absolute;
        font-weight: 700;
        top: 31%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* @media (min-width: 200px) and (max-width: 665px) {
    .bannertext {
        font-size: 4em;
        font-weight: 700;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }

    .bannersubtext {
        position: absolute;
        font-size: 1em;
        font-weight: 700;
        top: 33%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
} */

@media (min-width: 320px) and (max-width: 550px) {
    .bannertext {
        font-size: 1.5em;
        font-weight: 700;
        /* position: absolute;
        top: 15%;
        left: 17%;
        transform: translate(-50%, -50%); */
    }

    .bannersubtext {
        font-size: 0.7em;
        font-weight: 700;
        line-height: 1.2em;
        margin-top: -3px;
        /* font-size: 0.9em;
        position: absolute;
        font-weight: 700;
        line-height: 1.2em;
        top: 20%;
        left: 66%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
        word-spacing: -2px; */
    }

    .aboutUsplaceholder {
        font-size: 0.9em;
        position: absolute;
        font-weight: 700;
        line-height: 1.2em;
        top: 25%;
        left: 75%;
        transform: translate(-50%, -50%);
    }
}
